body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

/* ANIMATED BACKGROUND */
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #461f60;
  overflow: hidden;
  filter: brightness(0.5);
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 40;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #aea3ff;
  top: 26%;
  left: 49%;
  animation-duration: 33s;
  animation-delay: -60s;
  transform-origin: -3vw -24vh;
  box-shadow: -40vmin 0 5.045769617663201vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffe175;
  top: 93%;
  left: 80%;
  animation-duration: 42s;
  animation-delay: -37s;
  transform-origin: -21vw -21vh;
  box-shadow: -40vmin 0 5.843146065364271vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffe175;
  top: 8%;
  left: 58%;
  animation-duration: 70s;
  animation-delay: -47s;
  transform-origin: -10vw -10vh;
  box-shadow: -40vmin 0 5.609555199090918vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffe175;
  top: 98%;
  left: 21%;
  animation-duration: 62s;
  animation-delay: -31s;
  transform-origin: -7vw -2vh;
  box-shadow: -40vmin 0 5.7674963384949525vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffe175;
  top: 9%;
  left: 61%;
  animation-duration: 75s;
  animation-delay: -34s;
  transform-origin: -17vw 8vh;
  box-shadow: 40vmin 0 5.17744322801065vmin currentColor;
}
.background span:nth-child(5) {
  color: #aea3ff;
  top: 2%;
  left: 60%;
  animation-duration: 81s;
  animation-delay: -81s;
  transform-origin: 21vw 7vh;
  box-shadow: 40vmin 0 5.936490255801509vmin currentColor;
}
.background span:nth-child(6) {
  color: #aea3ff;
  top: 47%;
  left: 38%;
  animation-duration: 70s;
  animation-delay: -58s;
  transform-origin: -10vw -18vh;
  box-shadow: 40vmin 0 5.690458166525898vmin currentColor;
}
.background span:nth-child(7) {
  color: #aea3ff;
  top: 10%;
  left: 52%;
  animation-duration: 73s;
  animation-delay: -73s;
  transform-origin: -17vw 5vh;
  box-shadow: 40vmin 0 5.65566132360537vmin currentColor;
}
.background span:nth-child(8) {
  color: #aea3ff;
  top: 74%;
  left: 60%;
  animation-duration: 105s;
  animation-delay: -47s;
  transform-origin: 0vw 11vh;
  box-shadow: 40vmin 0 5.452852813224478vmin currentColor;
}
.background span:nth-child(9) {
  color: #8ad8ff;
  top: 94%;
  left: 75%;
  animation-duration: 80s;
  animation-delay: -60s;
  transform-origin: 19vw -14vh;
  box-shadow: -40vmin 0 5.4636208559369805vmin currentColor;
}
.background span:nth-child(10) {
  color: #aea3ff;
  top: 61%;
  left: 21%;
  animation-duration: 50s;
  animation-delay: -32s;
  transform-origin: 0vw 7vh;
  box-shadow: 40vmin 0 5.693546704170393vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffe175;
  top: 65%;
  left: 35%;
  animation-duration: 24s;
  animation-delay: -94s;
  transform-origin: 10vw -22vh;
  box-shadow: -40vmin 0 5.032761175267888vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffe175;
  top: 80%;
  left: 16%;
  animation-duration: 55s;
  animation-delay: -91s;
  transform-origin: 5vw 1vh;
  box-shadow: -40vmin 0 5.95801411709561vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffe175;
  top: 85%;
  left: 74%;
  animation-duration: 96s;
  animation-delay: -79s;
  transform-origin: 1vw -12vh;
  box-shadow: 40vmin 0 5.5225318988862355vmin currentColor;
}
.background span:nth-child(14) {
  color: #aea3ff;
  top: 93%;
  left: 26%;
  animation-duration: 56s;
  animation-delay: -8s;
  transform-origin: 12vw 23vh;
  box-shadow: 40vmin 0 5.648883288930029vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffe175;
  top: 41%;
  left: 70%;
  animation-duration: 80s;
  animation-delay: -40s;
  transform-origin: -12vw 1vh;
  box-shadow: -40vmin 0 5.517451909709431vmin currentColor;
}
.background span:nth-child(16) {
  color: #aea3ff;
  top: 41%;
  left: 26%;
  animation-duration: 78s;
  animation-delay: -72s;
  transform-origin: 14vw -7vh;
  box-shadow: 40vmin 0 5.578637723795503vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffe175;
  top: 15%;
  left: 29%;
  animation-duration: 98s;
  animation-delay: -12s;
  transform-origin: 0vw -18vh;
  box-shadow: 40vmin 0 5.310058138745215vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffe175;
  top: 69%;
  left: 43%;
  animation-duration: 11s;
  animation-delay: -23s;
  transform-origin: -7vw -10vh;
  box-shadow: -40vmin 0 5.402999097744439vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffe175;
  top: 83%;
  left: 30%;
  animation-duration: 60s;
  animation-delay: -76s;
  transform-origin: 6vw 23vh;
  box-shadow: 40vmin 0 5.633791660616792vmin currentColor;
}

/* PRELOADER */

#preloader {
  background: black url(../CSS/preloader.gif) no-repeat center center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
}

@media (max-width: 400px) {
  #preloader {
    background-size: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
}

/* Scroll indicator styles */
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 2;
  border-radius: 20px;
  background: linear-gradient(to right, #008aff, #00ffe7);
  animation: coloranimate 5s linear infinite;
  z-index: 5;
}

@keyframes coloranimate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0088ff, #00ffe5);
  filter: blur(10px);
}

.scroll-indicator::after {
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0088ff, #00ffe5);
  filter: blur(30px);
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9b37ff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  z-index: 2;
}

.logo {
  display: flex;
  position: relative;
  z-index: 2;
}

.logo img {
  cursor: pointer;
  position: fixed;
  border: 3px solid rgb(214 171 255);
  border-radius: 25%;
  left: 5px;
  top: 5px;
  height: 40px;
  width: 40px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border-style: none;
}

.menu-toggle img{
  position: relative;
  height: 90px;
  width: 80px;
  left: 25px;
}

.nav-links {
  display: flex;
  position: absolute;
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #d1a1ff;
  -webkit-text-stroke: 2px rgb(31 0 63);
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nav-links a::after{
  content: "";
  position: absolute;
  background-color: #ff0084;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.nav-links a:hover::after{
 width: 100%;
}

.E-BookSub {
  display: flex;
  position: absolute;
  font-style: italic;
  text-decoration: none;
  background-color: #1f003f;
  width: 115px;
  font-family: serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: #d1a1ff;
  border: 3px solid #d6abff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 1410px;
  z-index: 2;
}

.E-BookSub:hover {
  color: white;
  background-color: #ff0095;
  border: 3px solid white;
}

@media (max-width: 400px) {
  .navbar {
    padding: 10px;
    background-color: #6e3e9f;
  }

  .logo img{
  height: 30px;
  width: 30px;
  }

  .menu-toggle {
    display: flex;
    position: fixed;
    right: 5px;
  }

  .menu-toggle img {
    position: relative;
    height: 90px;
    width: 80px;
    left: -60px;
}

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    top: 45px;
    left: 305px;
    height: 220px;
    width: 95px;
    padding: 0;
    margin: 0;
    background: rgba(232, 131, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(128, 0, 255, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border-left: 2px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 2px solid rgba( 255, 255, 255, 0.18 );
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    text-align: center;
    padding: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: white; /* Adjust text color */
    text-decoration: none;
    font-size: 20px;
    -webkit-text-stroke: 1px rgb(31 0 63);
  }

  .nav-links.show {
    display: flex;
  }

  .E-BookSub {
    font-size: 10px;
    width: 70px;
    left: 310px;
  }
}


/* BANNER */

.slideshow-container {
  max-width: 1536px;
  position: relative;
  top: 55px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@media (max-width: 400px) {
  .slideshow-container{
   top: 45px;
  }
}

#HomeText{
  display: flex;
  position: absolute;
  top: 20px;
  padding: 20px;
}

.intro {
  position: absolute;
  margin: 0px;
  top: 430px;
  font-family: system-ui;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 23px;
  color: #d1a1ff;
  height: 230px;
  width: 1500px;
}

.introtext {
  font-weight: 900;
  font-size: 35px;
  color: #fe65ff;
}

@media (max-width: 400px) {
  .intro {
    top: 120px;
    font-size: 10px;
    text-align: justify;
    width: 360px;
  }

  .introtext {
    font-size: 12px;
  }
}

#FBText {
  display: flex;
  position: absolute;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  top: 730px;
  left: 270px;
  -webkit-text-stroke: 5px rgb(33 7 69);
  color: #d0a2ff;
  font-size: 120px;
  font-weight: 900;
  font-family: system-ui;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

#FBText:hover {
  filter: drop-shadow(4px 4px 6px rgb(255, 255, 255));
  transform: scale(1.2);
}

@media (max-width: 400px) {
  #FBText {
    top: 260px;
    left: 60px;
    color: #d0a2ff;
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(4px 4px 6px rgb(255, 255, 255));
    font-size: 40px;
  }

  #FBText:hover {
    transform: none;
  }
}

.book-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  top: 615px;
  left: 25px;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1300px;
  height: 260px;
  width: 200px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-45deg);
  }

  100% {
    transform: rotateY(-20deg);
  }
}

.book {
  width: 250px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(-45deg);
}

.book> :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 250px;
  height: 300px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 20px #666;
  border-left: 10px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 0px;
  width: 28px;
  height: 300px;
  transform: translateX(235px) rotateY(90deg);
  background: linear-gradient(90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%);
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 250px;
  height: 300px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: -10px 0 50px 10px #666;
}

@media (max-width: 400px) {
  .book-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    top: 300px;
    left: 25px;
    row-gap: 230px;
    column-gap: 20px;
  }

  .book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1300px;
    height: 0px;
    width: 0px;
  }
  
  @keyframes initAnimation {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-30deg);
    }
  }
  
  .book {
    width: 150px;
    height: 175px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
  }
  
  .book-container:hover .book, 
  .book-container:focus .book {
    transform: rotateY(0deg);
  }
  
  .book > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 150px;
    height: 175px;
    transform: translateZ(15px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 20px #666;
  }
  
  .book::before {
    position: absolute;
    content: ' ';
    background-color: blue;
    left: 0;
    top: 1px;
    width: 28px;
    height: 173px;
    transform: translateX(134px) rotateY(90deg);
    background: linear-gradient(90deg, 
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%
      );
  }
  
  .book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 150px;
    height: 175px;
    transform: translateZ(-15px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: -10px 0 50px 10px #666;
  }
}


#BookHead {
  display: flex;
  position: absolute;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  top: 70px;
  left: 315px;
  -webkit-text-stroke: 5px #281048;
  color: #C39BF0;
  font-size: 110px;
  font-weight: 900;
  font-family: system-ui;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

#BookHead:hover {
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.496));
  transform: scale(1.2);
}

@media (max-width:400px) {
  #BookHead {
    display: flex;
    position: absolute;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    top: 70px;
    left: 55px;
    color: #d0a2ff;
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(4px 4px 6px rgb(255, 255, 255));
    font-size: 40px;
    font-weight: 900;
    font-family: system-ui;
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #BookHead:hover {
    transform: none;
  }
}

#maincategory {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  height: 0px;
  width: 0px;
  top: 270px;
  left: 60px;
  row-gap: 150px;
  column-gap: 95px;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1300px;
  height: 350px;
  width: 275px;
}

#maincategory:hover .category-container {
  opacity: 0.4;
  filter: blur(2px);
}

#maincategory .category-container:hover {
  opacity: 1;
  filter: blur(0px);
}

@keyframes categoryanimation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-30deg);
  }
}

.category {
  width: 275px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.category-container:hover .category,
.category-container:focus .category {
  transform: rotateY(0deg);
}

.category> :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 275px;
  height: 350px;
  object-fit: cover;
  transform: translateZ(30px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 20px #666;
  border-radius: 0 5px 5px 0;
  border-left: 10px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.category::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 2px;
  width: 58px;
  height: 346px;
  transform: translateX(243px) rotateY(90deg);
  background: linear-gradient(90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%);
}

.category::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 275px;
  height: 350px;
  transform: translateZ(-30px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: -10px 0 50px 10px #666;
}

.category-summary {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 260px;
  height: 325px;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-family: system-ui;
  font-style: italic;
  font-weight: 600;
  overflow-y: hidden;
  overflow-x: hidden;
}

.category-container:hover .category-summary {
  opacity: 1;
  visibility: visible;
}

.category-summary h1 {
  position: relative;
  transform: translate(40px, -45px);
  font-size: 40px;
  color: aqua;
}

.category-summary p {
  position: relative;
  transform: translate(0px, -65px);
  font-size: 18px;
}

@media (max-width:400px) {
  #maincategory {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 1fr);
    height: 0px;
    width: 0px;
    top: 260px;
    left: 40px;
    row-gap: 280px;
    column-gap: 190px;
  }
  
  .category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1300px;
    width: 0px;
    height: 0px;
  }
  
  #maincategory:hover .category-container {
    opacity: 0.4;
    filter: blur(2px);
  }
  
  #maincategory .category-container:hover {
    opacity: 1;
    filter: blur(0px);
  }
  
  @keyframes categoryanimation {
    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(-30deg);
    }
  }
  
  .category {
    width: 125px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
  }
  
  .category-container:hover .category,
  .category-container:focus .category {
    transform: rotateY(0deg);
  }
  
  .category> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 125px;
    height: 200px;
    transform: translateZ(25px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 20px #666;
  }
  
  .category::before {
    position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 48px;
  height: 198px;
  transform: translateX(99px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
  }
  
  .category::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 125px;
    height: 200px;
    transform: translateZ(-25px);
    background-color: #01060f;
    border-radius: 0 5px 5px 0;
    box-shadow: -10px 0 50px 10px #666;
  }
  
  .category-summary {
    position: absolute;
    top: -95px;
    left: 15px;
    width: 115px;
    height: 191px;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-family: system-ui;
    font-style: italic;
    font-weight: 600;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .category-container:hover .category-summary {
    opacity: 1;
    visibility:visible;
  }
  
  .category-summary h1 {
    position: relative;
    top: 15px;
    right: 40px;
    font-size: 25px;
    color: aqua;
  }
  
  .category-summary p {
    position: relative;
    text-align: center;
    left: -10px;
    top: 20px;
    width: 95px;
    font-size: 15px;
  }
    
}

.usercontri {
  display: flex;
  position: absolute;
  width: 100%;
  top: 1800px;
  text-transform: capitalize;
}

.usercontri h1 {
  display: flex;
  position: relative;
  top: -130px;
  width: 100%;
  left: 385px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 50px;
  color: #d0a2ff;
  -webkit-text-stroke: 2px rgb(33 7 69);
  filter: drop-shadow(4px 4px 6px rgb(255, 255, 255));
}

.usercontri p {
  display: flex;
  position: absolute;
  padding: 100px;
  margin: 0px;
  font-family: cursive;
  font-style: italic;
  font-size: 26px;
  font-weight: 900;
  z-index: 0;
}

.para1 {
  top: -120px;
  color: #d0a2ff;
}

.para2 {
  top: 0px;
  color: #fe65ff;
}

@media (max-width:400px) {
  .usercontri {
    display: flex;
    position: absolute;
    width: 100%;
    top: 1800px;
  }
  
  .usercontri h1 {
    display: flex;
    position: relative;
    top: 0px;
    width: 100%;
    left: 0px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #d0a2ff;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(4px 4px 6px rgb(255, 255, 255));
  }
  
  .usercontri p {
    display: flex;
    position: absolute;
    padding: 20px;
    margin: 0px;
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    z-index: 0;
  }
  
  .para1 {
    top: 80px;
    color: #d0a2ff;
  }
  
  .para2 {
    color: #fe65ff;
    top: 460px;
  }
}

.KS {
  position: relative;
  top: 3px;
  left: -23px;
}

.Pom {
  position: relative;
  left: 15px;
}

.A-A {
  position: relative;
  font-size: 30px;
  top: -5px;
  left: -56px;
}

@media (max-width:400px) {
  .KS {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    justify-content: center;
  }
  
  .Pom {
    position: relative;
    left: 7px;
  }
  
  .Sci{
    position: relative;
    left: -7px;
  }

  .Rom{
    position: relative;
    right: 10px;
    font-size: 23px;
  }

  .Fan{
    position: relative;
    right: 10px;
  }

  .Mys{
   position: relative;
   right: 10px;
  }
  
  .A-A {
    display: flex;
    position: relative;
    font-size: 12px;
    top: 0px;
    left: -15px;
  }
}

.contaxt {
  display: block;
  position: absolute;
  top: 155px;
  left: 645px;
  font-weight: 900;
  font-family: system-ui;
  font-style: italic;
  font-size: 60px;
  color: rgb(255 255 255);
  -webkit-text-stroke: 2px rgb(255 0 188);
  margin: 0;
  padding: 0;
}

@media (max-width:400px) {
  .contaxt {
    display: block;
    position: absolute;
    top: 50px;
    left: 40px;
    font-weight: 900;
    font-family: system-ui;
    font-style: italic;
    font-size: 60px;
    color: rgb(255 255 255);
    -webkit-text-stroke: 2px rgb(255 0 188);
    margin: 0;
    padding: 0;
  }
}

form {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 270px;
  left: 580px;
}

label[for="fname"] {
  display: flex;
  position: absolute;
  top: -10px;
  left: 0px;
}

label[for="lname"] {
  display: flex;
  position: absolute;
  top: 45px;
  left: 0px;
}

label[for="email"] {
  display: flex;
  position: absolute;
  top: 95px;
  left: 0px;
}

label[for="message"] {
  display: flex;
  position: absolute;
  top: 143px;
  left: 0px;
}

input[type="text"] {
  border: 5px solid rgb(255 0 183 / 62%);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 28px;
  font-weight: 900;
  font-size: 14px;
  font-family: system-ui;
  font-style: italic;
  background-color: rgb(0 255 243 / 34%);
  padding-left: 6px;
  color: #ffffff;
  text-transform: capitalize;
}

@media (max-width:400px) {
  form {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 180px;
    left: 20px;
    width: 350px;
  }
  
  label[for="fname"] {
    display: flex;
    position: absolute;
    top: -10px;
    left: 0px;
  }
  
  label[for="lname"] {
    display: flex;
    position: absolute;
    top: 45px;
    left: 0px;
  }
  
  label[for="email"] {
    display: flex;
    position: absolute;
    top: 95px;
    left: 0px;
  }
  
  label[for="message"] {
    display: flex;
    position: absolute;
    top: 143px;
    left: 0px;
  }
  
  input[type="text"] {
    border: 5px solid rgb(255 0 183 / 62%);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 28px;
    font-weight: 900;
    font-size: 14px;
    font-family: system-ui;
    font-style: italic;
    background-color: rgb(0 255 243 / 34%);
    padding-left: 6px;
    color: #ffffff;
    text-transform: capitalize;
  }
  
}

input#email {
  text-transform: lowercase;
}

input[type="text"]:active {
  background-color: #0000ff66;
}

#fname::placeholder,
#lname::placeholder,
#email::placeholder,
#message::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-transform: uppercase;
}

#message {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: system-ui;
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
  border: 5px solid rgb(255 0 183 / 62%);
  background-color: rgb(0 255 243 / 34%);
  padding-left: 8px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  resize: none;
}

#message:active {
  background-color: #0000ff66;
}

.contactglass {
  display: flex;
  position: relative;
  height: 550px;
  width: 600px;
  top: -640px;
  left: 520px;
  background-color: rgb(0 0 0 / 10%);
  backdrop-filter: blur(20px);
  border: 3px solid rgb(255 255 255);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (max-width:400px) {
  .contactglass{
    display: flex;
    position: relative;
    height: 370px;
    width: 370px;
    top: 140px;
    left: 10px;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(100px);
    border: 3px solid rgb(255 255 255);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

select {
  position: relative;
  width: 120px;
  left: 100px;
  top: -5px;
  font-family: system-ui;
  font-weight: 900;
  font-style: italic;
  border: 5px solid rgb(255 0 183 / 62%);
  background-color: rgb(0 255 243 / 34%);
  color: rgb(0, 0, 0);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.Sub-button {
  display: flex;
  position: absolute;
  font-family: system-ui;
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
  top: 282px;
  left: 285px;
  height: 40px;
  width: 80px;
  border: 5px solid rgb(255 0 183 / 62%);
  background-color: rgb(0 255 243 / 34%);
  color: rgb(0, 0, 0);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  justify-content: center;
  padding: 0px;
}

@media (max-width:400px) {
  select {
    position: relative;
    width: 120px;
    left: 60px;
    top: -8px;
    font-family: system-ui;
    font-weight: 900;
    font-style: italic;
    border: 5px solid rgb(255 0 183 / 62%);
    background-color: rgb(0 255 243 / 34%);
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  
  .Sub-button {
    display: flex;
    position: absolute;
    font-family: system-ui;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    top: 282px;
    left: 230px;
    height: 40px;
    width: 80px;
    border: 5px solid rgb(255 0 183 / 62%);
    background-color: rgb(0 255 243 / 34%);
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    justify-content: center;
    padding: 0px;
  }
}

#message {
  --sb-track-color: #ff0092;
  --sb-thumb-color: #00fffe;
  --sb-size: 10px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

#message::-webkit-scrollbar {
  width: var(--sb-size)
}

#message::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

#message::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 3px solid #f400ff;
}


/* About Us */

#aboutus {
  display: flex;
  position: absolute;
  font-family: system-ui;
  font-style: italic;
}

.aboutext {
  display: flex;
  position: absolute;
  font-size: 120px;
  font-weight: 900;
  color: #d0a2ff;
  -webkit-text-stroke: 5px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  top: 30px;
  left: 490px;
  padding: 0px;
  margin: 0px;
  width: max-content;
}

@media (max-width:400px) {
  .aboutext {
    display: flex;
    position: absolute;
    font-size: 60px;
    font-weight: 900;
    -webkit-text-stroke: 3px rgb(33 7 69);
    top: 60px;
    left: 80px;
    padding: 0px;
    margin: 0px;
    width: max-content;
  }
}

.aboutusp1 {
  display: flex;
  position: absolute;
  font-family: cursive;
  font-style: italic;
  font-weight: 900;
  height: 100vh;
  width: 100vw;
}

.insideabotext1 {
  display: flex;
  position: relative;
  font-size: 30px;
  top: 130px;
  left: 118px;
  color: #d0a2ff;
  padding: 50px;
  margin: 0px;
  width: 80%;
}

@media (max-width:400px) {
  .insideabotext1 {
    display: flex;
    position: relative;
    font-size: 30px;
    top: 110px;
    left: 5px;
    padding: 20px;
    margin: 0px;
    width: 350px;
  }
}

.backmission {
  display: flex;
  position: absolute;
  top: 755px;
  font-weight: 900;
  font-family: serif;
  font-size: 100px;
  left: 285px;
  padding: 0px;
  margin: 0px;
  color: #d0a2ff;
  -webkit-text-stroke: 2px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  width: max-content;
}

@media (max-width:400px) {
  .backmission {
    display: flex;
    position: absolute;
    top: 1500px;
    font-weight: 900;
    font-size: 40px;
    left: 35px;
    padding: 20px;
    margin: 0px;
    -webkit-text-stroke: 1px white;
    width: 290px;
    text-align: center;
  }
}

.aboutusp2 {
  display: flex;
  position: absolute;
  font-family: cursive;
  font-style: italic;
  font-weight: 900;
  top: 620px;
  left: 50px;
  height: 100vh;
  width: 100vw;
}

.insideabotext2 {
  display: flex;
  position: relative;
  font-weight: 900;
  font-size: 31px;
  top: 175px;
  color: #fe65ff;
  margin: 0px;
  width: 80%;
  padding: 80px;
  left: 50px;
}

@media (max-width:400px) {
  .insideabotext2 {
    display: flex;
    position: relative;
    font-size: 30px;
    top: 1000px;
    left: -45px;
    padding: 20px;
    margin: 0px;
    width: 350px;
  }
}

.teamember {
  display: flex;
  position: absolute;
  top: 1400px;
  font-size: 90px;
  font-weight: 900;
  color: #d0a2ff;
  -webkit-text-stroke: 5px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  left: 420px;
  width: max-content;
}

.aboutusp3 {
  display: flex;
  position: absolute;
  font-family: cursive;
  font-style: italic;
  font-weight: 900;
  height: 100vh;
  top: 1500px;
  width: 100vw;
}

.insideabotext3 {
  display: flex;
  position: relative;
  top: 90px;
  height: 30px;
  font-weight: 700;
  font-size: 39px;
  left: 125px;
  width: 85%;
  color: #fe65ff;
}

@media (max-width:400px) {
  .teamember {
    display: flex;
    position: absolute;
    top: 2970px;
    font-size: 50px;
    font-weight: 900;
    color: #d0a2ff;
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    left: 100px;
    width: 0px;
    text-align: center;
  }
  
  .insideabotext3 {
    display: flex;
    position: relative;
    top: 1610px;
    height: 30px;
    font-weight: 700;
    font-size: 30px;
    left: 10px;
    width: max-content;
    color: #fe65ff;
  }
}

#contributor1 {
  display: flex;
  position: absolute;
  top: 255px;
  left: 255px;
}

.box1 {
  position: absolute;
  height: 360px;
  width: 1000px;
  top: 32px;
  border: 5px solid red;
  border-radius: 200px;
  background: url(../CSS/Polygon\ Luminary.svg);
}

#typewriter1 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 400px;
}

#typewriter1 h1 {
  font-family: system-ui;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  color: #fe65ff;
  -webkit-text-stroke: 2px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid rgb(208, 162, 255);
  animation: typewriter 5s steps(100) infinite alternate;
}

#typewriter2 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 235px;
}

#typewriter2 h1 {
  font-family: serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  color: #fe65ff;
  -webkit-text-stroke: 2px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid rgb(208, 162, 255);
  animation: typewriter 3s steps(100) infinite alternate;
}

#typewriter3 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 450px;
}

#typewriter3 h1 {
  font-family: serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  color: #fe65ff;
  -webkit-text-stroke: 2px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid rgb(208, 162, 255);
  animation: typewriter 5s steps(100) infinite alternate;
}

@media (max-width:400px) {
  #contributor1 {
    display: flex;
    position: absolute;
    top: 1750px;
    left: 20px;
  }
  
  .box1 {
    position: absolute;
    height: 1000px;
    width: 350px;
    top: 12px;
    border: 5px solid red;
    border: none;
    border-radius: 200px;
    background-image: url(../CSS/Polygon\ Luminary.svg);
    background: none;
  }
  
  #typewriter1 {
    display: flex;
    position: absolute;
    top: 350px;
    left: 55px;
    width: max-content;
  }
  
  #typewriter1 h1 {
    font-family: serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    animation: typewriter 5s steps(100) infinite alternate;
  }
  
  #typewriter2 {
    display: flex;
    position: absolute;
    top: 360px;
    left: 115px;
    width: max-content;
  }
  
  #typewriter2 h1 {
    font-family: serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 3s steps(100) infinite alternate;
  }
  
  #typewriter3 {
    display: flex;
    position: absolute;
    top: 355px;
    left: 40px;
    width: max-content;
  }
  
  #typewriter3 h1 {
    font-family: serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 5s steps(100) infinite alternate;
  }  
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.contritext1{
  position: absolute;
  top: 90px;
  width: 600px;
  left: 340px;
  font-size: 35px;
  font-weight: 900;
  color: #d0a2ff;
  -webkit-text-stroke: 1px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
}

@media (max-width:400px) {
  .contritext1 {
    position: absolute;
    top: 370px;
    width: 350px;
    left: 5px;
    font-size: 45px;
    font-weight: 900;
    color: #d0a2ff;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  } 
}

.card1 {
  height: 220px;
  width: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  perspective: 2500px;
  cursor: pointer;
  border-radius: 30px;
  top: 100px;
  left: 35px;
}

.cover-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper1 {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper1 img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card1:hover .wrapper1 {
  transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper1::before,
.wrapper1::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  border-radius: 50%;
  position: absolute;
  left: 0;
  box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
}

.wrapper1::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper1::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient (to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
  height: 295px;
}

.card1:hover .wrapper1::before,
.wrapper1::after {
  opacity: 1;
}

.card1:hover .wrapper1::after {
  height: 295px;
}

.logo1 {
  height: 60px;
  width: 225px;
  transition: transform 0.5s;
  position: absolute;
  bottom: -50px;
}

.card1:hover .logo1 {
  transform: translate3d(0%, -75px, 280px);
}

.card1:hover .cover-image1 {
  opacity: 0.3;
}

.character1 {
  width: 280px;
  height: 260px;
  opacity: 0;
  transition: all 0.5s;
  filter: drop-shadow (2px 2px 2px #000);
  position: absolute;
  z-index: -1;
}

.card1:hover .character1 {
  opacity: 1;
  transform: translate3d(5px, -30%, 350px);
}

#contributor2 {
  display: flex;
  position: absolute;
  top: 710px;
}

.box2 {
  position: absolute;
  height: 360px;
  width: 1000px;
  top: 32px;
  border: 5px solid red;
  border-radius: 200px;
  background: url(../CSS/Icon\ Grid.svg);
}

@media (max-width:400px) {
  #contributor2 {
    display: flex;
    position: absolute;
    top: 2650px;
    left: 20px;
  }
  
  .box2 {
    position: absolute;
    height: 1000px;
    width: 250px;
    top: 32px;
    border: none;
    background: none;
  }
}

.contrimg3 {
  position: absolute;
  top: 50px;
  left: 300px;
}

.contrimg4 {
  position: absolute;
  top: 60px;
  left: 320px;
  height: 50px;
  width: 210px;
}

.contritext2 {
  position: absolute;
  top: 90px;
  width: 610px;
  left: 355px;
  font-size: 31px;
  font-weight: 900;
  color: #d0a2ff;
  -webkit-text-stroke: 1px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
}

@media (max-width:400px) {
  .contritext2 {
    position: absolute;
    top: 380px;
    width: 350px;
    left: 5px;
    font-size: 45px;
    font-weight: 900;
    color: #d0a2ff;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  }
}

.card2 {
  height: 220px;
  width: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  perspective: 2500px;
  cursor: pointer;
  border-radius: 30px;
  top: 100px;
  left: 35px;
}

.cover-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper2 {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper2 img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card2:hover .wrapper2 {
  transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper2::before,
.wrapper2::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  border-radius: 50%;
  position: absolute;
  left: 0;
  box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
}

.wrapper2::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper2::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient (to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
  height: 295px;
}

.card2:hover .wrapper2::before,
.wrapper2::after {
  opacity: 1;
}

.card2:hover .wrapper2::after {
  height: 295px;
}

.logo2 {
  height: 60px;
  width: 225px;
  transition: transform 0.5s;
  position: absolute;
  bottom: -50px;
}

.card2:hover .logo2 {
  transform: translate3d(0%, -75px, 280px);
}

.card2:hover .cover-image2 {
  opacity: 0.3;
}

.character2 {
  width: 210px;
  opacity: 0;
  transition: all 0.5s;
  filter: drop-shadow (2px 2px 2px #000);
  position: absolute;
  z-index: -1;
}

.card2:hover .character2 {
  opacity: 1;
  transform: translate3d(5px, -30%, 350px);
}

#contributor3 {
  display: flex;
  position: absolute;
  top: 1160px;
  left: 505px;
}

.box3 {
  position: absolute;
  height: 360px;
  width: 1000px;
  top: 32px;
  border: 5px solid red;
  border-radius: 200px;
  background: url(../CSS/Contour\ Line.svg);
}

@media (max-width:400px) {
  #contributor3 {
    display: flex;
    position: absolute;
    top: 3710px;
    left: 20px;
  }
  
  .box3 {
    position: absolute;
    height: 1000px;
    width: 350px;
    top: 32px;
    background: none;
    border: none;
  }
}

.contrimg5 {
  position: absolute;
  top: 50px;
  left: 300px;
}

.contrimg6 {
  position: absolute;
  top: 65px;
  left: 310px;
}

.contritext3 {
  position: absolute;
  top: 90px;
  width: 610px;
  left: 355px;
  font-size: 35px;
  font-weight: 900;
  color: #d0a2ff;
  -webkit-text-stroke: 1px rgb(33 7 69);
  filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
}

@media (max-width:400px) {
  .contritext3 {
    position: absolute;
    top: 380px;
    width: 350px;
    left: 10px;
    font-size: 45px;
    font-weight: 900;
    color: #d0a2ff;
    -webkit-text-stroke: 1px rgb(33 7 69);
    filter: drop-shadow(2px 2px 6px rgb(191, 191, 191));
  }
}

.card3 {
  height: 220px;
  width: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  perspective: 2500px;
  cursor: pointer;
  border-radius: 30px;
  top: 100px;
  left: 35px;
}

.cover-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper3 {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #000;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper3 img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card3:hover .wrapper3 {
  transform: perspective (900px) translatey(-5%) rotateX(25deg) translatez(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper3::before,
.wrapper3::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  border-radius: 50%;
  position: absolute;
  left: 0;
  box-shadow: rgb(255 0 0) 0px 1px 15px, rgb(63 0 255) 0px 1px 15px
}

.wrapper3::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper3::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient (to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
  height: 295px;
}

.card3:hover .wrapper3::before,
.wrapper2::after {
  opacity: 1;
}

.card3:hover .wrapper3::after {
  height: 295px;
}

.logo3 {
  height: 60px;
  width: 225px;
  transition: transform 0.5s;
  position: absolute;
  bottom: -50px;
}

.card3:hover .logo3 {
  transform: translate3d(0%, -75px, 280px);
}

.card3:hover .cover-image3 {
  opacity: 0.3;
}

.character3 {
  width: 200px;
  opacity: 0;
  transition: all 0.5s;
  filter: drop-shadow (2px 2px 2px #000);
  position: absolute;
  z-index: -1;
}

.card3:hover .character3 {
  opacity: 1;
  transform: translate3d(5px, -30%, 350px);
}


/* STYLE FOR DONATION */

#donate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 115px;
  width: 100%;
}

#donate img {
  height: 350px;
  border: 2px solid black;
  border-radius: 50px;
}

.donation-content h1 {
  position: absolute;
  left: 620px;
  width: max-content;
  top: 5px;
  -webkit-text-stroke: 1px rgb(33 7 69);
  color: #d0a2ff;
  filter: drop-shadow(0px 0px 4px white);
  font-size: 60px;
}

#donatetext {
  display: flex;
  position: absolute;
  top: 430px;
  padding: 25px;
  font-family: cursive;
  font-weight: 800;
  font-size: 30px;
  font-style: italic;
  color: #fe65ff;
  z-index: 1;
}

@media (max-width:400px) {
  .donation-content h1 {
    position: absolute;
    left: 55px;
    top: 20px;
    -webkit-text-stroke: 2px rgb(33 7 69);
    filter: drop-shadow(0px 0px 4px white);
    font-size: 50px;
  }
  
  #donatetext {
    display: flex;
    position: absolute;
    top: 430px;
    width: 350px;
    padding: 25px;
    font-weight: 800;
    font-size: 40px;
    font-style: italic;
    z-index: 1;
  }
}

/* STYLE FOR FOOTER */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 97%;
  width: 100%;
}

.footer-bottom {
  font-size: 15px;
  font-style: italic;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

